modules = ["php-8.2", "bash"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Laravel Server"

[[workflows.workflow]]
name = "Laravel Server"
author = 43308247
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd laravel-api && php artisan serve --host=0.0.0.0 --port=5000"
